:root{
    --color-one: #22223b;
    --color-two: #4a4e69;
    --color-three: #9a8c98;
    --color-four: #c9ada7;
    --color-five: #f2e9e4;
}

body{
    background-color: var(--color-five);
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--color-four);
}
