:root{
    --color-one: #22223b;
    --color-two: #4a4e69;
    --color-three: #9a8c98;
    --color-four: #c9ada7;
    --color-five: #f2e9e4;
    --color-six: #f1f1f1;
}

body{
    background-image: linear-gradient(to top, var(--color-four), var(--color-six));
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--color-five);
    padding: 2rem 0 0 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}
  
header p {
    color: var(--color-two);
    font-size: 1rem;
    margin-bottom: 1rem;
}

header nav {
    background-color: var(--color-four);
    display: flex;
    justify-content: center;
    padding: 0;
}

header nav ul{
    list-style-type: none;
    display: flex;
}

header nav li {
    margin: 0 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--color-two);
    font-weight: bold;
}

header nav a:hover{
    color: var(--color-one);
}

main {
    padding: 0 2rem;
}

main section {
    margin-bottom: 2rem;
}

#about div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img{
    border-radius: 20%;
    width: auto;
    height: 35vh;
}

#sub-content{
    width: 50%;
    margin: auto 1rem;
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main p {
    line-height: 1.5;
}

.project-list {
    display: flex;
    padding: 0 1rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-list li {
    margin: 1rem 0.5rem;
    padding: 1rem;
    height: auto;
    width: 40%;
    background-color: var(--color-three);
    flex-grow: 0.5;
    border-radius: 1rem;
}

.project-list li img{
    max-width: 100%;
}

.project-list p{
    color: var(--color-one);
}

.project-list h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-list a {
  text-decoration: none;
  color: var(--color-two);
}

.project-list a {
    text-decoration: none;
    color: var(--color-two);
}

.project-list a:hover {
    text-decoration: none;
    color: var(--color-one);
}

main #contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

main #contact ul li{
    padding: 1rem;
    background-color: var(--color-five);
    width: 40%;
    border-radius: 0.5rem;
}

main #contact ul li a{
    text-decoration: none;
    color: var(--color-two);
}

main #contact ul li a:hover{
    color: var(--color-one);
}

footer{
    background-color: var(--color-two);
    display: flex;
    justify-content: center;
}

footer p{
    color: var(--color-six);
}